.container {
	height:100%;
	width:80%;
	margin: 0 auto;
	text-align:center;
}

footer {
	text-align:center;
}

#portrait  img{
	width:100%;
}

#image_container img, .carousel-inner img{
	width: 100%;
}